@font-face{
    font-family: lato;
    src: url(./Fonts/Lato-Bold.ttf);
}

*{
    font-family:"Lato";
}
*{
    box-sizing: border-box;
}


nav{
    width: 30%;
}

.list-navegacion{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.container-logo img{
    width: 100px;
    height: 100px;
}

a{
    color:rgb(163, 125, 78);
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color:  rgb(94, 90, 85);
    box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);
   -webkit-box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);
   -moz-box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);
    
}

.a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}
 
.container-info{
    width: 50%;
}

.info p{
    font-size: 1.5em;
    font-family: "Lato";
    width: 60%;
    color: rgb(163, 125, 78);
    width: 100%;
}
.info button{
    width: 30%;
    height: 50%;
    color: rgb(247, 246, 245);
    background-color: rgb(141, 119, 119);
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1.2em;
    text-transform: uppercase;


}
button:hover{
    background-color: burlywood;

}

.gif{

box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);
-webkit-box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);
-moz-box-shadow: -1px -1px 10px 9px rgba(79,47,0,0.75);

}

.gif img{
    width: 498px;
    height: 280px;
}

.b {
     
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;    
}
.foto{
    width: 100%

}
.foto img{
    width: 400px;
    height: 280px;
}

.descrip h1{
    color: rgb(211, 178, 146);
    margin: 0 auto;
    max-width: 100rem;
    width: 50%;
    font-size: 1.5em;
    border-width: 50px;
    border-color: rgb(141, 119, 119);
}

    
body{
    background-image: url(./Fondo.png);
    margin: 0%;
    padding: 0%;
    background-size: cover;
}

   