@font-face{
    font-family: lato;
    src: url(./Fonts/Lato-Bold.ttf);
}

*{
    font-family:"Lato";
}


nav{
    width: 30%;
}

.list-navegacion{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.logo img{
    width: 110;
}

a{
    color: rgba(58, 131, 150, 0.993);
    text-decoration: none;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
 
.container-info{
    width: 50%;
}

.info p{
    font-size: 2em;
    font-family: "Lato";
    width: 60%;
    color: rgb(163, 125, 78);
}
.info button{
    width: 25%;
    height: 50%;
    color: rgb(247, 246, 245);
    background-color: rgb(141, 119, 119);
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: 1.2em;
    text-transform: uppercase;


}
button:hover{
    background-color: burlywood;

}

.gif img{
    width: 498px;
    height: 280px;

}
.section b{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.section b div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.descrip h1{
    color: rgb(211, 178, 146);
    margin: 0 auto;
    max-width: 120rem;
    width: 70%;
    font-size: 2em;
    border-width: 50px;
    border-style: double;
    border-color: rgb(141, 119, 119);
}

    
body{
    background-image: url(./Fondo.png);
    margin: 0%;
    padding: 0%;
    background-size: cover;
}

   